.auth-main-div{
    padding-top: 10vh;
}

.auth-main-div p{
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

.auth-main-div .auth-fields{
    display: flex;
    flex-direction: column;
}

.auth-main-div .auth-fields form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.auth-main-div .auth-fields form .loadingDiv,
.auth-main-div .auth-fields form .buttonDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.auth-main-div .auth-fields form .buttonDiv span{
    font-size: 0.6em;
    color: initial;
}

.auth-main-div .auth-fields form .buttonDiv span a{
    text-decoration: none;
    color: rgb(34, 126, 187);
}
