#developers-container{
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 1%;
}


#developers-container #developer-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
