.title-container {
    border: 1px solid rgb(102, 191, 226);
    overflow: auto;
    margin: 2px;
    padding: 5px 10px 5px;
    border-radius: 5px;
}

.title-container p{
    margin: 0;
    font-size: .6em;
    
}